@font-face {
  font-family: "CircularStd-Black";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
}
@font-face {
  font-family: "CircularStd-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
}
@font-face {
  font-family: "CircularStd-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
}
@font-face {
  font-family: "Poppins-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
}
@font-face {
  font-family: "Poppins-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
}
@font-face {
  font-family: "Poppins-SemiBold";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Poppins-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
}